<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gyupp's memojang</title>

    <link href="https://webfontworld.github.io/kohi/KOHINanum.css" rel="stylesheet">
    <link href="https://webfontworld.github.io/neodgm/NeoDunggeunmo.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/common.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css">
</head>

<body class="grid">
    <header id="header" class="header">
        <h1>memojang</h1>
    </header>
    <main id="main" class="main">
        <div class="container">
            <div class="left">
                <nav class="leftMenu">
                    <ul>
                        <li><a href="./html.html">html</a></li>
                        <li><a href="./css.html">css</a></li>
                        <li><a href="./index.html">javascript</a></li>
                        <li class="active"><a href="./vue.html">vue</a></li>
                        <li><a href="./github.html">github</a></li>
                        <li><a href="./programmers.html">programmers</a></li>
                    </ul>
                </nav>
            </div>
            <div class="right">
                <nav class="rightMenu">
                    <div class="page">
                        <div class="btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h4>vue</h4>
                    </div>
                    <ul class="topic">
                        <li mydata="install">install</li>
                        <li mydata="apiPreference">API Preference</li>
                    </ul>
                </nav>
                <div class="study">
                    <section id="install" class="section active">
                        <h3>[ install ]</h3>
    
                        <div class="cont">
                            <!-- <h4># install</h4> -->
                            <div class="code">
                                <span class="type">terminal</span>
<pre><code class="language-js">$ npm init vue@latest  //@latest 가장 최신 버전으로 깔아달라는 의미</code></pre>
                            </div>
                            <div class="code">
                                <span class="type">terminal</span>
<pre><code class="language-js">✔ Project name: … &lt;your-project-name&gt;
✔ Add TypeScript? … No / Yes
✔ Add JSX Support? … No / Yes
✔ Add Vue Router for Single Page Application development? … No / Yes
✔ Add Pinia for state management? … No / Yes
✔ Add Vitest for Unit testing? … No / Yes
✔ Add Cypress for both Unit and End-to-End testing? … No / Yes
✔ Add ESLint for code quality? … No / Yes
✔ Add Prettier for code formatting? … No / Yes

Scaffolding project in ./&lt;your-project-name&gt;...
Done.
</code></pre>
                            </div>
                            <div class="desc">
                                | Vue Router |<br>
                                &nbsp;&nbsp;SPA 특성상 같은 주소 내에서 화면 변화가 일어남 -> 특정 화면에서 주소를 저장해둬도 다시 그 주소로 들어가면 첫 화면 나옴<br>
                                &nbsp;&nbsp;화면마다 다른 주소를 부여할 수 있는게 router -> 서버에 요청 보내지는 않음, 주소만 다르게 부여
                            </div>
                            <div class="code">
                                <span class="type">terminal</span>
<pre><code class="language-js">> npm install    // package.json 파일 내 프로그램 설치
> npm run dev   // Local 주소 실행하기
</code></pre>
                            </div>
                        </div>
                    </section>

                    <section id="apiPreference" class="section">
                        <h3>[ API Preference ]</h3>
    
                        <div class="cont">
                            <div class="code">
<pre><code class="language-html">&lt;template&gt;
    &lt;div&gt;
        &lt;!-- &lt;input type="text" v-model="userId"&gt; --&gt;
        &lt;input type="text" :value="userId" @input="userId = $event.target.value"&gt;
        &lt;button @click="myFunction"&gt;click&lt;/button&gt;      &lt;!-- @click = addEventListener("click", ()=>{}) --&gt;
        &lt;button @click="changeData"&gt;change&lt;/button&gt;
        &lt;br&gt;
        &lt;input type="text" v-model="num1"&gt; +      &lt;!-- 문자열로 인식 --&gt;
        &lt;input type="text" v-model="num2"&gt; =
        &lt;span&gt;{{ num1 + num2 }}&lt;/span&gt;
        &lt;br&gt;
        &lt;input type="text" v-model.number="num3"&gt; +       &lt;!-- .number을 붙이면 숫자로 인식 --&gt;
        &lt;input type="text" v-model.number="num4"&gt; =
        &lt;span&gt;{{ num3 + num4 }}&lt;/span&gt;
    &lt;/div&gt;
&lt;/template&gt;
</code></pre>
                            </div>
                            <div class="code-flex">
                                <div class="code">
                                    <span class="type">Composition</span>
<pre><code class="language-js">&lt;script setup&gt;     // 컴포지션 방식에서는 setup 필수
    import { ref, onMounted } from 'vue';

    let userId = ref('abc');
    let num1 = ref(0);
    let num2 = ref(0);
    let num3 = ref(0);
    let num4 = ref(0);

    function myFunction () {
        console.log(userId.value);
    }
    
    function changeData () {
        userId.value = 'kyubi'
    }

    onMounted(() => {
        ...     // template 내 html이 모두 다 불러와졌을 때 실행
    })
&lt;/script&gt;
</code></pre>
                                </div>
                                <div class="code">
                                    <span class="type">Options</span>
<pre><code class="language-js">&lt;script&gt;
    export default {
        data () {
            return {    // 모든 데이터는 여기에서 선언
                userId: 'abcd',
                num1: 0,
                num2: 0,
                num3: 0,
                num4: 0,
            }
        },
        methods: {      // 모든 함수는 여기에서 선언
            myFunction () {
                console.log(this.userId)
            },
            changeData () {
                this.userId = 'kyubi'
            }
        }
    }
&lt;/script&gt;
</code></pre>
                                </div>
                            </div>
                            <div class="desc">
                                Options 방식과는 달리 Composition 방식에서는 필요한 부분만 불러와서 사용
                            </div>
                            <div class="desc">
                                반응형 데이터 만들기<br>
                                ref | 범위 제한이 없음, 데이터 변경 시 .value를 붙여서 변경<br>
                                reactive | obj,arr,Map,set 등 범위가 제한적, 데이터 변경 시 .value 붙일 필요 없음
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="top">TOP</div>
        </div>
    </main>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="./assets/js/common.js"></script>
<script>
    hljs.highlightAll();
</script>
</html>