.code {
    position: relative;
}

.code .pro {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 0.7vw;
    padding: 0 0.5vw;
    border-radius: 0 0 5px 5px;
    background-color: #999;
    /* color: #dcdcdc; */
}

.cont p {
    font-size: 0.8vw;
    margin-bottom: 0.5vw;
}